<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca de la Biodiversidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bienvenido a la Biblioteca de la Biodiversidad</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <nav>
        <ul class="menu-list">
            <li><a href="{{ url_for('add_publication') }}">Añadir nueva publicación</a></li>
            <li><a href="{{ url_for('view_publications') }}">Ver todas las publicaciones</a></li>
            <li><a href="{{ url_for('consult_by_species') }}">Consultar publicaciones por nombre científico</a></li>
            <li><a href="{{ url_for('consult_by_collection') }}">Consultar publicaciones por colección</a></li>
        </ul>
    </nav>
</body>
</html>